.App {
  text-align: center;
  background-color: #e06df7;
  color: rgb(57, 4, 66);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(231, 128, 252);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f37fc3;
  color: #8499c4;
}

.mee{
  color:rgb(227, 230, 209);
 

}
